# Loading Data from local file

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('./XYmat.csv')

In [21]:
df.head(5)

,name,reviews,Dungeons & Dragons,Dynamic Narration,Hacking,Otome,Benchmark,Western,Lemmings,Mystery,...,Futuristic,World War II,Match 3,Illuminati,Modern,Competitive,Hardware,Choices Matter,Violent,Artificial Intelligence
0,PLAYERUNKNOWN'S BATTLEGROUNDS,92,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,BATTLETECH,49,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,DayZ,71,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,EVE Online,61,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Grand Theft Auto V: Premium Online Edition,74,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df.columns

In [8]:
df.index

RangeIndex(start=0, stop=17371, step=1)

In [9]:
df.values

array([["PLAYERUNKNOWN'S BATTLEGROUNDS", 92, 0, ..., 0, 0, 0],
       ['BATTLETECH', 49, 0, ..., 0, 0, 0],
       ['DayZ', 71, 0, ..., 0, 0, 0],
       ...,
       ['Rivals of Aether: Summit Orcane', 90, 0, ..., 0, 0, 0],
       ['Space Cat', 70, 0, ..., 0, 0, 0],
       ['White Day - Horror Costume - Ji-Min Yoo', 28, 0, ..., 0, 0, 0]],
      dtype=object)

In [38]:
y = df['reviews'].values
array = df.to_numpy()
X = array[:, 1:]
print(X)

[[92 0 0 ... 0 0 0]
 [49 0 0 ... 0 0 0]
 [71 0 0 ... 0 0 0]
 ...
 [90 0 0 ... 0 0 0]
 [70 0 0 ... 0 0 0]
 [28 0 0 ... 0 0 0]]

# Split train test data

In [41]:
Xtrain = X[:12160]
Xtest = X[12160:]
ytrain = y[:12160]
ytest = y[12160:]
print(Xtrain.shape, Xtest.shape, ytrain.shape, ytest.shape)

(12160, 382) (5211, 382) (12160,) (5211,)

# Test data with nultiple linear regression

In [48]:
import scipy as sp
import scipy.sparse.linalg

In [51]:
out = sp.sparse.linalg.lsqr(Xtrain,ytrain)
beta = out[0]
print(beta.shape)

(382,)

In [56]:
yp = Xtest*beta
print(Xtest.shape, yp.shape)
loss = np.linalg.norm(np.array(ytest - yp))**2

print("multiple variable loss="+"{:.2e}".format(loss))

(5211, 382)

ValueError: operands could not be broadcast together with shapes (5211,) (5211,382)